:root {
  --accent-light: #f6f6f6;
  --accent-dark: #eb455f;
  --accent-dark-highlight: #ff4a65;
  --primary-light: #d4eaf6;
  --primary-dark: #2b3467;
  --primary-darker: #1b242f;
  --default-text: #616161;
}

/* TAGS */
a {
  color: var(--primary-light);
  font-family: 'Montserrat' sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

body {
  position: relative;
  margin: 0;
  background-color: var(--primary-light);
  text-align: center;
  font-family: 'Merriweather', serif;
  color: var(--default-text);
}

div {
  margin: 0;
}

h1 {
  margin: 0;
  font-family: 'Raleway-semibold', sans-serif;
  font-size: 2.5rem;
  color: var(--primary-dark);
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  line-height: normal;
  color: var(--primary-dark);
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: var(--primary-dark);
}

hr {
  width: 4%;
  border-width: 5px;
  border-color: #eaf6f6;
  border-style: dotted none none;
  margin: 100px auto 100px auto;
  clear: both;
}

nav {
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--primary-darker);
  border-bottom: 3px solid var(--accent-dark);
  height: 50px;
  text-align: left;
  width: 100%;
  z-index: 99;
}

p {
  margin: 0;
  line-height: 2;
}

/*######################################################*/

/* CLASSES */
.bottom-container {
  background-color: var(--primary-dark);
}

.bottom-container p {
  color: var(--accent-light);
}

.contact-btn {
  margin: 40px auto;
  background: var(--accent-dark);
  background-image: -webkit-linear-gradient(top, var(--accent-dark), #CC3B51);
  background-image: -moz-linear-gradient(top, var(--accent-dark), #CC3B51);
  /* background-image: -ms-linear-gradient(top, var(--accent-dark),#CC3B51); */
  background-image: -o-linear-gradient(top, var(--accent-dark), #CC3B51);
  background-image: linear-gradient(to bottom, var(--accent-dark), #CC3B51);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.contact-btn:hover {
  background: var(--accent-dark-highlight);
  background-image: -webkit-linear-gradient(top, var(--accent-dark-highlight), var(--accent-dark-highlight));
  background-image: -moz-linear-gradient(top, var(--accent-dark-highlight), var(--accent-dark-highlight));
  background-image: -ms-linear-gradient(top, var(--accent-dark-highlight), var(--accent-dark-highlight));
  background-image: -o-linear-gradient(top, var(--accent-dark-highlight), var(--accent-dark-highlight));
  background-image: linear-gradient(to bottom, var(--accent-dark-highlight), var(--accent-dark-highlight));
  text-decoration: none;
}

.contact-me h3 {
  margin: 30px auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto;
}

.copyright {
  font-size: 0.75rem;
  padding: 20px 0;
}

.flex {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.focus-row {
  display: flex;
  justify-content: space-evenly;
}

/* .focus-block {
  width: 200px;
  height: 200px;
} */

.footer-link {
  display: inline-block;
  color: var(--accent-light);
  margin: 25px 20px;
}

.footer-link:hover {
  color: var(--accent-dark);
}

.hexagon {
  background-color: #04c2c9;
  display: inline-block;
  height: 100%;
  width: calc(100% * 0.57735);
}

.hexagon:before {
  background-color: inherit;
  content: "";
  height: inherit;
  position: absolute;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  top: 0;
  transform: rotateZ(60deg);
  width: inherit;
}

.hexagon:after {
  background-color: inherit;
  content: "";
  height: inherit;
  position: absolute;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  top: 0;
  transform: rotateZ(-60deg);
  width: inherit;
}

.hex-wrap {
  display: inline-block;

  position: relative;
  text-align: center;
}

.highlight {
  font-family: 'Raleway-semibold', sans-serif;
  color: var(--accent-dark);
}

.intro {
  width: 30%;
  margin: auto;
}

.links {
  display: flex;
  justify-content: left;
  height: 0;
  max-width: 1200px;
  overflow: hidden;
  position: absolute;
  top: 53px;
  transition: height 0.3s ease-out;
  width: 100%;
}

.nav-link {
  margin: 0 20px;
  font-family: 'Raleway';
  text-transform: uppercase;
  color: var(--accent-light);
}
.nav-link:hover {
  color: var(--accent-dark)
}

.nav-not-at-bottom nav {
  position: fixed;
  top: 0;
}

/*######################################################*/

/* IDs */
#about {
  display: block;
}

#contact {

}

#home {
  position: relative;
  height: 100vh;
  background-color: var(--primary-dark);
}

#home h2 {
  color: var(--accent-light);
}

#projects {
  background-color: var(--accent-light);
}

#projects h1 {
  color: var(--primary-dark);
}

#top-of-site-anchor {
  position: absolute;
  top: 94vh;
}

/*######################################################*/

/* media screen size styling */

@media screen and (min-width: 600px) {
  /* TAGS */
  nav .links {
    background: none;
    height: initial;
    overflow: visible;
    position: initial;
    text-align: left;
  }
  
  section {
    line-height: 18pt;
    padding: 100px 0 130px;
  }

  /* CLASSES */
  .hex-wrap {
    width: 100px;
    height: 100px;
  }

}